@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}
#fnUnavailableButton {
    display: none;
}
/* Hinzufügen von neuen Regelungen */
img.logo-rlp-sms {
    max-width: 45rem!important;
}